# Reading data from a CSV file

In [3]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [2]:
# to_string() to print the entire DataFrame.
print(df.to_string())

NameError: name 'df' is not defined

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [5]:
# Display first 5 rows
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [21]:
# Display first 10 rows
print(df.head(10))

      Product     Category  Price  Quantity
0      Laptop  Electronics    800         5
1  Smartphone  Electronics    500        10
2  Headphones  Accessories     50        20
3    Notebook   Stationery      5       100
4         Pen   Stationery      2       200

In [9]:
# Display last 5 rows
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# Read data from json

In [13]:

import pandas as pd  

# Load the JSON file into a DataFrame
df = pd.read_json("json-data.json")  

# Display first 5 rows
print(df)

      Product     Category  Price  Quantity
0      Laptop  Electronics    800         5
1  Smartphone  Electronics    500        10
2  Headphones  Accessories     50        20
3    Notebook   Stationery      5       100
4         Pen   Stationery      2       200

In [17]:
print(df['Product'])

0        Laptop
1    Smartphone
2    Headphones
3      Notebook
4           Pen
Name: Product, dtype: object

In [19]:
print(df['Product'].loc[1])

Smartphone